<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger OTD</title>
         {{!-- semantic ui cdn below --}}
         <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="shortcut icon" type="image/png" href="../assets/images/LindseyLawsonBurger.png" />
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{{ body }}}
        <script src="./assets/js/burgers.js"></script>
	</body>
</html>